<div class="content2">
    <h1 class="h1_Vip_title">Three kinds of VIP</h1>
    <div><br></div>
    <ul>
        <!--<li>-->
        <!--<dl>-->
        <!--<dd><a href="#"><img src="/static/user/img/books/book_01.jpg" alt="book" /></a></dd>-->
        <!--<dt>-->
        <!--<p class="book_title">Gift cards</a></p>-->
        <!--<p class="book_inline">$25, $50, and $100</p>-->
        <!--<a class="book_buy" href="#" target="_blank">BUY</a>-->
        <!--</dt>-->
        <!--</dl>-->
        <!--</li>-->
        <li>
            <dl>
                <dd><a href="#"><img src="/static/user/img/vip1.png" alt="book"/></a></dd>
                <dt>
                <p class="book_title">VIP1</p>

                <!--<p class="book_inline"> Erika Hall</p>-->
                <a class="book_buy" href="#" data-toggle="modal" data-target="#confirmBorrow">apply</a>
                </dt>
            </dl>
        </li>
        <li>
            <dl>
                <dd><a href="#"><img src="/static/user/img/vip2.png" alt="book"/></a></dd>
                <dt>
                <p class="book_title">VIP2</p>

                <!--<p class="book_inline"> Karen McGrane</p>-->
                <a class="book_buy" href="#" data-toggle="modal" data-target="#confirmBorrow">apply</a>
                </dt>
            </dl>
        </li>
        <li>
            <dl>
                <dd><a href="#"><img src="/static/user/img/vip3.png" alt="book"/></a></dd>
                <dt>
                <p class="book_title">VIP3</p>

                <!--<p class="book_inline"> Mike Monteiro</p>-->
                <a class="book_buy" href="#" data-toggle="modal" data-target="#confirmBorrow">apply</a>
                </dt>
            </dl>
        </li>
    </ul>
</div>

<script>
//    $('.book_buy').click(function () {
//        let data = $(this).siblings("p").html();
////        console.log(data);
//        $.ajax({
//            type: "post",
//            url: "",
//            data: {Title: data},
//            success: function(msg){
//                console.log(msg);
//            }
//        })
//    });
</script>