<div class="content2">
    <h1 class="h1_Vip_title">Three kinds of VIP</h1>
    <div><br></div>
    <ul>
        <!--<li>-->
        <!--<dl>-->
        <!--<dd><a href="#"><img src="/static/user/img/books/book_01.jpg" alt="book" /></a></dd>-->
        <!--<dt>-->
        <!--<p class="book_title">Gift cards</a></p>-->
        <!--<p class="book_inline">$25, $50, and $100</p>-->
        <!--<a class="book_buy" href="#" target="_blank">BUY</a>-->
        <!--</dt>-->
        <!--</dl>-->
        <!--</li>-->
        <li>
            <dl>
                <dd><a href="#"><img src="/static/user/img/vip1.png" alt="book"/></a></dd>
                <dt>
                <p class="book_title">VIP1</p>
                <p class="book_inline">Not a normal user</p>
                <% if(MemberStyle == 'VIP' || IssDetail == 0) { %>
                <button class="book_buy" type="button" disabled data-toggle="modal" data-target="#confirmBorrow">apply</button>
                <% } else { %>
                <button class="book_buy" href="#" data-toggle="modal" data-target="#confirmBorrow">apply</button>
                <% } %>
                </dt>
            </dl>
        </li>
        <li>
            <dl>
                <dd><a href="#"><img src="/static/user/img/vip2.png" alt="book"/></a></dd>
                <dt>
                <p class="book_title">VIP2</p>

                <p class="book_inline">Borrow more than 4 books</p>
                <% if(MemberStyle == 'VIP' || IssDetail == 0) { %>
                <button class="book_buy" type="button" disabled data-toggle="modal" data-target="#confirmBorrow">apply</button>
                <% } else { %>
                <button class="book_buy" href="#" data-toggle="modal" data-target="#confirmBorrow">apply</button>
                <% } %>
                </dt>
            </dl>
        </li>
        <li>
            <dl>
                <dd><a href="#"><img src="/static/user/img/vip3.png" alt="book"/></a></dd>
                <dt>
                <p class="book_title">VIP3</p>

                <p class="book_inline"> U can download PDF</p>
                <% if(MemberStyle == 'VIP' || IssDetail == 0) { %>
                <button class="book_buy" type="button" disabled data-toggle="modal" data-target="#confirmBorrow">apply</button>
                <% } else { %>
                <button class="book_buy" href="#" data-toggle="modal" data-target="#confirmBorrow">apply</button>
                <% } %>
                </dt>
            </dl>
        </li>
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(function(){
        var socket = io('http://localhost:8360');
        $('.book_buy').click(function () {
//        let data = $(this).siblings()[1].innerHTML;
//        console.log(data);
            var buttonClick = $(this);
            $.ajax({//提交更新到数据库
                url: "/user/member/applyvip",
                success: function(msg){
                    $('.book_buy').attr("disabled",true);
                    console.log(msg.data);
                    socket.emit('confirmvip',msg.data);
                    socket.on('to'+msg.data, function(data){
                        console.log(data);
                    });
                }
            });
        });
    })
</script>