<div class="rightinfo">

    <!--<div class="tools">-->

    <!--<ul class="toolbar">-->
    <!--<li class="click"><span><img src="/static/img/t01.png"/></span>添加</li>-->
    <!--<li class="click"><span><img src="/static/img/t02.png"/></span>修改</li>-->
    <!--<li><span><img src="/static/img/t03.png"/></span>删除</li>-->
    <!--<li><span><img src="/static/img/t04.png"/></span>统计</li>-->
    <!--</ul>-->


    <!--<ul class="toolbar1">-->
    <!--<li><span><img src="/static/img/t05.png"/></span>设置</li>-->
    <!--</ul>-->

    <!--</div>-->


    <table class="imgtable">

        <thead>
        <tr>
            <th width="100px;">Picture</th>
            <th>Title</th>
            <th>Borrowed Date</th>
            <th>BookID</th>
            <th>Situation</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <% for (var index in books ) { %>
        <tr>
            <td class="imgtd"><img src="<%- books[index].book_img %>"/></td>
            <td><a href="#"><%- books[index].Title %></a></td>
            <td><%- books[index].issue_date %></td>
            <td><%- books[index].ISBN %></td>
            <% if(books[index].book_status == 2) { %>
            <td class="ava">Borrowing</td>
            <td>
                <button type="button" class="book_borrow">Return</button>
            </td>
            <% } else { %>
            <td><i>Overdue</i></td>
            <td>
                <button type="button" class="book_borrow">Return</button>
            </td>
            <% } %>
        </tr>
        <% } %>
        </tbody>

    </table>
    <div class="pageJump">
        <a id="btn0" contenteditable="false"></a>
        <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()" disabled/><a> 条 </a>
        <!--<a href="#" id="pageSizeSet">设置</a>-->
        <a id="sjzl"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" id="btn1">First Page</a>||
        <a href="#" id="btn2">Previous</a>||
        <a href="#" id="btn3">Next</a>||
        <a href="#" id="btn4">Last Page</a>||
        <a>转到 </a>
        <input id="changePage" type="text" size="1" maxlength="4"/>
        <a>页 </a>
        <a href="#" id="btn5">跳转</a>
    </div>


    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>

        <div class="tipinfo">
            <span><img src="/static/img/ticon.png"/></span>

            <div class="tipright">
                <p>You can not borrow book!</p>
                <cite>Exceed the limits of one user can borrow.</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button" class="sure" value="确定"/>
        </div>

    </div>

</div>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script>
    $(".book_borrow").click(function () {
        var bookID = $(this).parent().siblings()[3].innerHTML;
        var borrow_date = $(this).parent().siblings()[2].innerHTML;
//        console.log(bookID);
        $.ajax({
            url: "/user/index/backbook",
            type: "post",
            data: {bookID: bookID, bor_date: borrow_date},
            success: function (msg) {
                alert("You have to paid: "+msg.data);
            }
        })
    });
    //提示框点击响应
    $(".sure").click(function () {
        $(".tip").fadeOut(100);
    });

    $(".cancel").click(function () {
        $(".tip").fadeOut(100);
    });
</script>
<script type="text/javascript">
    var pageSize = 4;    //每页显示的记录条数
    var curPage = 0;        //当前页
    var lastPage;        //最后页
    var direct = 0;        //方向
    var len;            //总行数
    var page;            //总页数
    var begin;
    var end;


    $(document).ready(function display() {
        len = $(".imgtable tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
        page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
        // alert("page==="+page);
        curPage = 1;    // 设置当前为第一页
        displayPage(1);//显示第一页

        document.getElementById("btn0").innerHTML = "当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
        document.getElementById("sjzl").innerHTML = "数据总量 " + len + "";        // 显示数据量
        document.getElementById("pageSize").value = pageSize;


        $("#btn1").click(function firstPage() {    // 首页
            curPage = 1;
            direct = 0;
            displayPage();
        });
        $("#btn2").click(function frontPage() {    // 上一页
            direct = -1;
            displayPage();
        });
        $("#btn3").click(function nextPage() {    // 下一页
            direct = 1;
            displayPage();
        });
        $("#btn4").click(function lastPage() {    // 尾页
            curPage = page;
            direct = 0;
            displayPage();
        });
        $("#btn5").click(function changePage() {    // 转页
            curPage = document.getElementById("changePage").value * 1;
            if (!/^[1-9]\d*$/.test(curPage)) {
                alert("请输入正整数");
                return;
            }
            if (curPage > page) {
                alert("超出数据页面");
                return;
            }
            direct = 0;
            displayPage();
        });


        $("#pageSizeSet").click(function setPageSize() {    // 设置每页显示多少条记录
            pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
            if (!/^[1-9]\d*$/.test(pageSize)) {
                alert("请输入正整数");
                return;
            }
            len = $(".imgtable tr").length - 1;
            page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
            curPage = 1;        //当前页
            direct = 0;        //方向
            firstPage();
        });
    });

    function displayPage() {
        if (curPage <= 1 && direct == -1) {
            direct = 0;
            alert("已经是第一页了");
            return;
        } else if (curPage >= page && direct == 1) {
            direct = 0;
            alert("已经是最后一页了");
            return;
        }

        lastPage = curPage;

        // 修复当len=1时，curPage计算得0的bug
        if (len > pageSize) {
            curPage = ((curPage + direct + len) % len);
        } else {
            curPage = 1;
        }


        document.getElementById("btn0").innerHTML = "当前 " + curPage + "/" + page + " 页    每页 ";        // 显示当前多少页

        begin = (curPage - 1) * pageSize + 1;// 起始记录号
        end = begin + 1 * pageSize - 1;    // 末尾记录号


        if (end > len) end = len;
        $(".imgtable tr").hide();    // 首先，设置这行为隐藏
        $(".imgtable tr").each(function (i) {    // 然后，通过条件判断决定本行是否恢复显示
            if ((i >= begin && i <= end) || i == 0)//显示begin<=x<=end的记录
                $(this).show();
        });
    }
</script>
<script type="text/javascript">
    $('.imgtable tbody tr:odd').addClass('odd');
</script>
