<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>信息管理系统界面</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/scrolling.js"></script>
</head>
<body>

<div style="background:url(/static/img/topbg.gif) repeat-x;height: 88px;">
    <% include top.html %>
</div>

<div style="background:#f0f9fd;width: 187px;float: left;">
    <% include left.html %>

</div>


<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据表</a></li>
        <li>><a href="#">基本内容</a></li>
    </ul>
</div>

<div class="rightinfo">

    <!--<div class="tools">-->
    <!--<ul class="toolbar">-->
    <!--<li class="click"><span><img src="/static/img/t01.png"/></span>添加</li>-->
    <!--<li class="click"><span><img src="/static/img/t02.png"/></span>修改</li>-->
    <!--<li><span><img src="/static/img/t03.png"/></span>删除</li>-->
    <!--<li><span><img src="/static/img/t04.png"/></span>统计</li>-->
    <!--</ul>-->
    <!--<ul class="toolbar1">-->
    <!--<li><span><img src="/static/img/t05.png"/></span>设置</li>-->
    <!--</ul>-->
    <!--</div>-->
    <table class="tablelist">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Book ID</th>
            <th>Member Name</th>
            <th>Local Address</th>
            <th>Borrow time</th>
            <th>State</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <% for(var index in issuance){ %>
        <!--for(var item in msg[index][index1]){-->
        <!--arr.push(msg[index][index1][item]);-->
        <tr>
            <td></td>
            <td><%- issuance[index].iss_id %></td>
            <td><%- issuance[index].ISBN %></td>
            <td><%- issuance[index].mem_name %></td>
            <td><%- issuance[index].local_add %></td>
            <td><%- issuance[index].issue_date %></td>
            <% if(issuance[index].book_status == 1){ %>
            <td class="wait">Waiting</td>
            <td><a href="#" class="click">Agree</a> /<a href="#" class="click"> Disagree</a></td>
            <% } else if (issuance[index].book_status == 2) { %>
            <td class="ing">Borrowing</td>
            <td><a href="#" class="click">Detail</a></td>
            <% } else if (issuance[index].book_status == 3) { %>
            <td class="ret">Returned</td>
            <td><a href="#" class="click">Detail</a></td>
            <% } else { %>
            <td class="over">Overtime</td>
            <td><a href="#" class="click">Detail</a></td>
            <% } %>
        </tr>
        <% } %>
        </tbody>
    </table>


    <!--<div class="pagin">-->
    <!--<div class="message">共<i class="blue">100</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>-->
    <!--<ul class="paginList">-->
    <!--<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>-->
    <!--<li class="paginItem"><a href="javascript:;">1</a></li>-->
    <!--<li class="paginItem current"><a href="javascript:;">2</a></li>-->
    <!--<li class="paginItem"><a href="javascript:;">3</a></li>-->
    <!--<li class="paginItem"><a href="javascript:;">4</a></li>-->
    <!--<li class="paginItem"><a href="javascript:;">5</a></li>-->
    <!--<li class="paginItem more"><a href="javascript:;">...</a></li>-->
    <!--<li class="paginItem"><a href="javascript:;">10</a></li>-->
    <!--<li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>-->
    <!--</ul>-->
    <!--</div>-->


    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>

        <div class="tipinfo">
            <span><img src="/static/img/ticon.png"/></span>

            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button" class="sure" value="确定"/>&nbsp;
            <input name="" type="button" class="cancel" value="取消"/>
        </div>

    </div>


</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');

//    function siblings(elem) {
//        var a = [];
//        var b = elem.parentNode.children;
//        for(var i =0,i<b.length;i++) {
//            if(b[i] !== elem) a.push(b[i]);
//        }
//        return a;
//    }

    $('.click').click(function(){
        var bookID = $(this).parent().siblings()[2].innerHTML;
        $.ajax({
            type: "post",
            url: "/index/confirm",
            data: { bookID: bookID},
            success: function(msg){
                $(".tip").fadeIn(200);
            }
        });
    });

    $('.sure').click(function(){
        location.reload();
    })
</script>

</body>

</html>
