<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>信息管理系统界面</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/scrolling.js"></script>
</head>
<body>

<div style="background:url(/static/img/topbg.gif) repeat-x;height: 88px;">
    <% include top.html %>
</div>

<div style="background:#f0f9fd;width: 187px;float: left;">
    <% include left.html %>
</div>

<div style="width: 1020px;">
    <% include middle.html %>
</div>

